:root {
  --black: #000;
  --white: #fff;
  --gray-90: #e5e5e5;
  --gray-75: #bfbfbf;
  --gray-21: #363636;
  --green-78: #b1ddc4;
  --green-45: #55ae3a;
  --green-20: #006633;
  --red-58: #ef3a43;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  border-bottom: 3px solid transparent;
  background: none;
  outline: none;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 35.16px;
  color: var(--white);
  cursor: pointer;
}

button:hover {
  border-bottom: 3px solid var(--green-45);
}

svg {
  cursor: pointer;
}

svg:hover path {
  fill: var(--green-45);
  stroke: var(--green-45);
}

.search-svg:hover path {
  fill: none;
}

.pointer {
  cursor: pointer;
}

.hover:hover {
  outline: 3px solid var(--gray-21);
  border-radius: 50%;
}

header {
  width: 100%;
  height: 170px;
  padding-top: 10px;
  background-color: var(--green-20);
}

.top,
.bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.top {
  margin-bottom: 7px;
}

.burger {
  margin-left: 26.5px;
}

.logo {
  margin-left: 21.5px;
}

.links {
  display: flex;
  align-items: center;
  margin-left: 32px;
}

.icon-group {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 13.5px;
}

.icon-group svg,
.icon-group img {
  margin-left: 18.5px;
}

.sport-group {
  margin-left: 21px;
}

.sport-group img {
  margin-right: 24px;
}

.searchbar {
  position: relative;
  margin-left: auto;
  width: 849px;
}

.searchbar img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 14px;
  margin: auto;
}

.searchbar input {
  border: none;
  border-radius: 44px;
  max-width: 849px;
  width: 100%;
  height: 80px;
  background-color: var(--green-78);
  padding-left: 89px;
  font-size: 31px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 36.33px;
  color: var(--green-20);
}

.searchbar input::placeholder {
  font-weight: 400;
  color: var(--green-45);
}

.searchbar input:focus {
  outline: 4px solid var(--green-45);
}

.line {
  width: 2px;
  height: 71.5px;
  background-color: var(--white);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 74px;
  margin: auto;
}

.current-date {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 36px;
  margin: 0 24px 0 14px;
  max-width: 268px;
  width: 100%;
  height: 62px;
  background-color: var(--green-78);
}

.current-date p {
  padding: 0 20px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 22px;
  color: var(--gray-21);
}

.post {
  margin-right: 25px;
}
