:root {
  --black: #000;
  --white: #fff;
  --gray-90: #e5e5e5;
  --gray-75: #bfbfbf;
  --gray-21: #363636;
  --green-78: #b1ddc4;
  --green-45: #55ae3a;
  --green-20: #006633;
  --red-58: #ef3a43;
  --box-shadow: #1e1e22;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.triangles {
  margin-top: 0;
  margin-bottom: 86px;
  width: 100%;
  background: url('./assets//triangles.png') repeat-x 0 0;
  background-size: contain;
  height: 100vh;
  max-height: 174px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: fit-content;
  margin: 0 auto 85px auto;
  padding: 0 20px;
}

.wrapper {
  display: flex;
  align-items: flex-end;
}

.ads {
  margin-top: 20px;
}

.links {
  margin-right: 37.5px;
  max-width: 700px;
  width: 100%;
  height: fit-content;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  grid-template-areas:
    'left mid right'
    'left social social';
}

.left {
  grid-area: left;
}

.mid {
  grid-area: mid;
}

.right {
  grid-area: right;
}

.social {
  grid-area: social;
  height: fit-content;
  white-space: nowrap;
}

.social svg {
  margin-right: 8px;
}

.links h4 {
  margin-bottom: 20px;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 37.5px;
  color: var(--black);
}

.links p {
  border-bottom: 2px solid transparent;
  margin-left: 16px;
  width: fit-content;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 31.27px;
  color: var(--black);
  white-space: nowrap;
  cursor: pointer;
}

.links p:hover {
  border-bottom: 2px solid var(--black);
}

.sub {
  display: flex;
  flex-direction: column;
  margin-left: 38px;
  width: 457px;
  height: 360px;
  padding: 37px;
  border-radius: 16px;
  background-color: var(--green-20);
}

.sub-title {
  display: flex;
  align-items: center;
}

.sub-title h4 {
  margin-left: 13px;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 37.5px;
  color: var(--white);
}

.sub input {
  margin-top: 20px;
  border: 1px solid var(--green-45);
  border-radius: 4px;
  height: 50px;
  padding: 0 12px;
  font-size: 29px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 33.98px;
  color: var(--green-20);
}

.sub input::placeholder {
  color: var(--black);
}

.sub input:focus {
  outline: 3px solid var(--green-45);
}

.checkbox-wrapper {
  display: flex;
  height: min-content;
  align-items: center;
  margin: 11px 0 28px 0;
  height: fit-content;
}

input[type='checkbox'] {
  margin: 0 3px 0 0;
  height: fit-content;
  outline: none;
}

input[type='checkbox']:focus {
  outline: none;
}

.checkbox-wrapper p {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 16.41px;
  color: var(--white);
}

.checkbox-wrapper span {
  font-weight: 700;
}

.sub button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 48px;
  border-radius: 44px;
  border: none;
  background-color: var(--green-45);
  box-shadow: 0px 1px 2px var(--box-shadow), 0px 2px 4px var(--box-shadow);
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 36.33px;
  color: var(--white);
  cursor: pointer;
}

.sub button:hover {
  outline: 3px solid var(--black);
}

.sub button img {
  margin-right: 9px;
}

footer {
  background-color: var(--green-20);
  padding: 14px 0 16px 0;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  padding: 0 20px;
}

.footer-links p {
  margin-bottom: 10px;
  width: 430px;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 46.88px;
  color: var(--white);
  text-align: center;
  white-space: nowrap;
}

.copyright {
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 37.5px;
  color: var(--white);
  margin: 0 auto;
  width: fit-content;
}

@media screen and (max-width: 1912px) {
  .content {
    justify-content: center;
  }
}

@media screen and (max-width: 1175px) {
  .triangles {
    max-height: 93px;
    margin-bottom: 47px;
  }

  .content {
    margin-bottom: 20px;
  }

  .links {
    margin-right: 0;
    max-width: 640px;
  }

  .mid {
    place-self: start center;
  }

  .right {
    place-self: start end;
  }

  .social {
    place-self: start center;
  }

  .social svg {
    width: 60px;
    height: 60px;
  }

  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .ads {
    max-width: 756px;
    width: 100%;
  }

  .sub {
    margin: 20px 0 0 0;
    max-width: 756px;
    width: 100%;
  }

  .sub button {
    margin: 0 auto;
  }

  .footer-links p {
    font-size: 26px;
  }

  .copyright {
    font-size: 30px;
  }
}

@media screen and (max-width: 640px) {
  .triangles {
    margin-bottom: 16px;
    max-height: 38px;
  }

  .links h4 {
    font-size: 3.4vmin;
  }

  .links p {
    font-size: 2.9vmin;
  }

  .sub-title h4 {
    font-size: 5vmin;
  }

  .sub input {
    font-size: 3.4vmin;
  }

  .sub button {
    font-size: 5vmin;
  }

  .social svg {
    width: 40px;
    height: 40px;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
  }

  .footer-links p {
    font-size: 3.1vmin;
  }
  .copyright {
    font-size: 3.4vmin;
  }
}
